*.iml
/Menuscript/.gradle

/Menuscript/.idea
/Menuscript/.idea/assetWizardSettings.xml
/Menuscript.DS_Store
/Menuscript/build
/Menuscript/captures
/Menuscript/.externalNativeBuild
/Menuscript/.cxx
/Menuscript/local.properties