*.iml
/Menuscript/.gradle
/Menuscript/local.properties
/Menuscript/.idea/
/Menuscript/.idea/caches
/Menuscript/.idea/libraries
/Menuscript/.idea/modules.xml
/Menuscript/.idea/workspace.xml
/Menuscript/.idea/navEditor.xml
/Menuscript/.idea/assetWizardSettings.xml
/Menuscript.DS_Store
/Menuscript/build
/Menuscript/captures
/Menuscript.externalNativeBuild
/Menuscript.cxx
/Menuscriptlocal.properties